body{
    font-size:rem(16)!important;
    font-family:'DINProRegular';
}
html{font-size:16px!important;}
@media (min-width: 1200px){
.container {
    width: 1240px;
    max-width: 100%;
}
}
a{
    transition: all 0.5s ease-in-out;
}

a:focus{
    text-decoration:none;
}
    .learn-more-br{
        color:$learnMore;
        font-size:rem(14); text-transform: uppercase; font-family: 'DINProMedium', serif;
        &:before{
            content:'';
            background:url(../images/sprite.png) no-repeat 0 0;
            width:21px; height:21px; display:inline-block;
            position: relative;
            top: 5px;
            margin-right:rem(10);
        }
        &:hover{
            &:before{
                background-position:0 -91px; 
            }
            color:$whiteColor;
        }
    }
    .learn-more-wh{
        color:$whiteColor;
        font-size:rem(14); text-transform: uppercase; font-family: 'DINProMedium', serif;
        &:before{
            content:'';
            background:url(../images/sprite.png) no-repeat 0 -91px;
            width:21px; height:21px; display:inline-block;
            position: relative;
            top: 5px;
            margin-right:rem(10);
        }

        &:hover{
            &:before{
                background-position: 0 0;
            }
            color:$activeColor;
        }
    }

    .learn-more-bl{
        color:$defaultBlue;
        font-size:rem(14); text-transform: uppercase; font-family: 'DINProMedium', serif;
        &:before{
            content:'';
            background:url(../images/sprite.png) no-repeat -22px 0;
            width:21px; height:21px; display:inline-block;
            position: relative;
            top: 5px;
            margin-right:rem(10);
        }

        &:hover{
            &:before{
                background-position:1px 0;
           }
           color:$activeColor;
        }
    }

    .btn-primary{
        border-radius:0;
        border:none;
        background: $btnPrimaryColor;
        color:$btnPrimaryColorText;
        font-size:rem(14);
        text-transform: uppercase;
        font-family: 'DINProMedium', serif;
        box-shadow:3px 3px 5px 0 rgba(0,0,0,0.5);
        padding:rem(20) rem(40);
        cursor: pointer;
        
    }

    h2{ color:$defaultBlue; font-size: rem(50); font-family: 'Playfair Display', serif; padding-bottom:40px;}
    h3{ color:$grayColor; font-size: rem(24); line-height:rem(35);  font-family: 'DINProMedium', serif; padding-bottom:30px;}
    p{color:$grayColor; font-size: rem(18); line-height:rem(26);  font-family: 'DINProLight', serif;  padding-bottom:40px;}

    .screenDivider {
        width: 2px;
        height:70px;
        background-color: $activeColor;
        margin: 0 auto;
        display:none;
        @media screen and (min-width:$ipad){
            display:block;
        }
    }

    .screenDivider-hr{
        background-color: $activeColor;
        margin: 0 auto;
     
         height:rem(2); width:rem(100);
    }


    .link {
        position: relative;
        display: block;
        color: $arrow-color;
        
        &:after, &:before {
          content: "";
          display: block;
          position: absolute;
          transition: all 0.5s ease-in-out;
        }
        &:before {
          top: 50%;
          right: $arrow-size;
          width: $arrow-size;
          height: $arrow-size;
          transform-origin: 50% 50%;
          transform:  translate(0, -($arrow-size / 2)) rotate(45deg);
          box-shadow: inset -#{$arrow-border} $arrow-border 0 0 $arrow-color;
          border-radius: 0 $arrow-size*0.15 0 0;
        }
        
        &:after {
          top: 50%;
          right: 0.7rem;
          width: $arrow-size * 1.3;
          height: $arrow-border;
          transform:  translate(0, -($arrow-border / 2));
          background-color: $arrow-color;
        }
        &:hover {
          &:before {
            transform:  translate(0.5em, -($arrow-size / 2)) rotate(45deg);
          }
          &:after {
            transform:  translate(0.5em, -($arrow-border / 2));
          }
        }
      }
      
//Inner banner
.inner-banner{
    height:rem(464);
    display: flex;
      justify-content: center;
    align-items: center; 
        background-repeat:no-repeat; background-position: 0 0;
        position: relative;
    background-size: cover;
    .row{
        height: 100%;
    }
    h1{
        font-family: 'Playfair Display', serif;
        font-size:rem(60); font-weight: 700; color: $whiteColor; position: relative; z-index: 5;
    }

    h2{
        font-family: 'DINProBold', serif;
        font-size:rem(13); color: $whiteColor; margin:0; padding:0;  position: relative; z-index: 5;
    }
}


//Inner Sub linke
.inner-sub-link{
    background:$lightGray; padding:rem(20) 0;
    ul{
        margin:0; padding:0; list-style: none;
        li{
            display: inline-block; width:19.5%; box-sizing: border-box; position: relative; padding:rem(10) 0;   font-family: 'DINProBold',serif; font-size:rem(13); text-transform:uppercase;
            a{
                color:$defaultBlue;
                position: relative;
                display: block;
               
        
        &:after, &:before {
          content: "";
          display: block;
          position: absolute;
          transition: all 0.5s ease-in-out;
          color: $arrow-color;
        }
        &:before {
          top: 50%;
          right: $arrow-size;
          width: $arrow-size;
          height: $arrow-size;
          transform-origin: 50% 50%;
          transform:  translate(0, -($arrow-size / 2)) rotate(45deg);
          box-shadow: inset -#{$arrow-border} $arrow-border 0 0 $arrow-color;
          border-radius: 0 $arrow-size*0.15 0 0;
        }
        
        &:after {
          top: 50%;
          right: 0.7rem;
          width: $arrow-size * 1.3;
          height: $arrow-border;
          transform:  translate(0, -($arrow-border / 2));
          background-color: $arrow-color;
        }
            &:hover {
            color:$activeColor;
            &:before {
                transform:  translate(0.5em, -($arrow-size / 2)) rotate(45deg);
            }
            &:after {
                transform:  translate(0.5em, -($arrow-border / 2));
            }
            }
            }

            &.active, &.current_page_ancestor{
                &:after {
                content: "";
                border-bottom: solid #dbbb68 4px;
                position: absolute;
                bottom: -5px;
                width:100%;
                transition: all 0.5s ease-in-out;
                }
            }
        }
    }
}



.accordion{
    font-family: 'DINProMedium', serif;
    > ul{
        margin:0; padding:0;
        list-style: none;
        > li {
            padding: 0!important; margin-bottom: 1px; position: relative;
            > a{
                background:#e6ebf1; position: relative;  padding:rem(20) rem(17) rem(20) rem(40); line-height: 1; text-transform: uppercase; display:block; color:$defaultBlue;
                &:hover{
                    text-decoration:none;
                }
                i{
                    position: absolute;
                    top: 0;
                    z-index: 9;
                     display: block;
                    width:36px;
                    height: 100%;
                    left:0;
                    &:before, &:after{
                        content: "";
                         position: absolute;
                        top: 50%;
                        left: 20px;
                        margin: 0;
                        background:$defaultBlue;
                        margin-left:rem(10);
                    }
                    &:before{
                        left: 8px;
                        width: 2px;
                        height:12px;
                        transition:all 300ms;
                        margin-top: -7.5px;
                        background:$defaultBlue;
                    }
                    &:after{
                        left: 3px;
                        width: 12px;
                        height: 2px;
                        margin-top: -2.3px;
                        background:$defaultBlue;
                    }
                    &.expanded{
                        &:before{
                            height:0;
                            margin-top:0;
                        }
                    }
                }
               
            }

            > i{
                // position: absolute;
                // top: 0;
                // z-index: 9;
                // background: red;
                // display: block;
                // width:36px;
                // height: 100%;
                &:before, &:after{
                    content: "";
                     position: absolute;
                    top: 50%;
                    left: 20px;
                    margin: 0;
                    background:$defaultBlue;
                    margin-left:rem(10);
                }
                &:before{
                    left: 8px;
                    width: 2px;
                    height:12px;
                    transition:all 300ms;
                    margin-top: -7.5px;
                    background:$defaultBlue;
                }
                &:after{
                    left: 3px;
                    width: 12px;
                    height: 2px;
                    margin-top: -2.3px;
                    background:$defaultBlue;
                }
                &.expanded{
                    &:before{
                        height:0;
                        margin-top:0;
                    }
                }
            }
        }
       
    }
    ul{
        li{
            list-style: none; padding:0.7rem 0;
            >div{
                display: none;
            }
            ul{
               background:$lightGray;  margin:0 0 0 rem(40); padding:1rem 0;
                li{
                    
                    a{
                        color:$defaultBlue;
        
                        &:before{
                            content: "\2022";  
                            color: $activeColor; 
                            font-weight: bold;  
                            display: inline-block;  
                            width: 1em;  
                            margin-left: -1em;  
                            font-size:1.2rem;
                            position: relative;
                            top:2px;
                        }
                    }
                    
                }
            }
            
        }
    }
}

.overlay{
    background:rgba(0,0,0,0.6); position: absolute;
    left:0; right: 0; top:0; bottom:0; width:100%; height:100%;
}

.page-search{
    background:$defaultBlue;
    width: 100%; display: flex; padding:2rem;
    box-shadow: 5px 5px 3px 0 rgba(0, 0, 0, 0.4);
    position: relative;
    margin-top: -4rem;
    input[type=text]{
        background: none;
        border: 0;
        width: 100%;
        color: $whiteColor;
        font-size: 26px;
        padding: 1rem 0rem 0.5rem 0rem;
        border-bottom:solid $activeColor 2px;
        margin-right:2rem;

        &:focus{
            outline: none;
        }
        &::placeholder {
            color: $whiteColor;
          }
    }

    .filter-btn{
      
        background: url(../images/sprite.png) no-repeat -412px 51px;
        display: inline-block;
        width: 111px;

        &.open{
            background-color: #04254e;
        }
       
    }
}

.filter{
    background: #04254e; padding:2rem;
    position: absolute;
    width: 97.6%;
    z-index:100;
    box-shadow: 5px 5px 3px 0 rgba(0, 0, 0, 0.4); display: none;
    .stylish-select-right{
        font-size: rem(13);   font-family: 'DINProBold', serif; text-transform: uppercase;
    }
    
    input[type=text]{
        background: none;
        border: 0;
        width: 100%;
        color: $whiteColor;
        font-size: 26px;
        padding: 1rem 0rem 0.8rem 0rem;
        border-bottom:solid $activeColor 2px;
         font-size: rem(13);   font-family: 'DINProBold', serif; text-transform: uppercase;
        &:focus{
            outline: none;
        }
        &::placeholder {
            color: $whiteColor;
          }
    }

}
.divder{
    width: 100%; height:4px; background: $lightGray; clear: both; margin:2rem 0;
}

.header-spacer{
    width: 100%;
    height:rem(90);
}



.sort-wrap{
    font-family: 'DINProBold', serif;  font-size: rem(13);text-transform: uppercase;
   text-transform: uppercase;
   display: inline-block;
   padding: 1.5rem 0 1rem 0;
   width: 100%;
   .total-result, .stylish-select-right{
      color: $grayColor; float: left; 
   }
   .total-result{ padding:1rem 3rem 1rem 0;}
   .sort-by{
     width: 10rem; float: right; 

     span{
       width:38%;
       float: left; padding:1rem 0;
     }

     .main{
         width:60%; text-transform: uppercase; float: left;
         ul.listing li{
        font-family: 'DINProBold', serif;    font-size: rem(13);
         }
     }

     .stylish-select-right{
       font-family: 'DINProBold', serif;  font-size: rem(13);text-transform: uppercase; border:none;
       height: 45px;
          line-height: 50px;

          
     }

         .stylish-select-left{
           &:after{
               width: 0;
               height: 0;
               border-left: 5px solid transparent;
               border-right: 5px solid transparent;
               content: '';
               border-top: 5px solid $defaultBlue;
               position: absolute;
               right: 0;
               top:61%;
               border-bottom: none;
               transform: rotate(0deg);
               -webkit-transform: rotate(0deg);
               -ms-webkit-transform: rotate(0deg);
               -moz-webkit-transform: rotate(0deg);
              }
         }

         &.title{
             float:left;
         }

         &.location{
            width: 12rem;
         }
   }

  
}



.clear {
    clear: both;
    width: 100%;
    margin: 0;
    padding: 0;
}