.faq-wraper{
 
   
   .container{
       &:first-child{
            @media screen and (max-width:$mobileEnd){
                 padding:0;
            }
            .row{
                @media screen and (max-width:$mobileEnd){
                    margin:0;
               }
               
            }
            .col-sm-12{
                @media screen and (max-width:$mobileEnd){
                    padding:0;
               }
               
            }
       }
   }
.accordion{
    > ul  
    > li {
        border-bottom: solid #e6ebf1 4px;
        >div{
            background: $lightBlue; padding:rem(40);
            ul{
                background: $lightBlue; margin-top: 0; padding-top: 0;
            }
        }
        > a{
            background: $whiteColor; text-transform: inherit; font-size: rem(23);
            padding:rem(20) rem(17) rem(20) rem(50);
            span{
                font-size: rem(14); display:block; font-family: 'DINProBold', serif; padding:0.5rem 0;
            } 

            i{
                &.expanded{
                    background:$lightBlue;
                }
            }
        }
    }
   p{
    //    padding:rem(20); 
        margin-bottom: 0; padding-bottom: rem(30);
   }
   .learn-more-bl{
    padding: 2rem 0;
    display: inline-block;
   
    }
}

}

.divder{
    @media screen and (max-width:$mobileEnd){
    display: none;
    }
}