.info-wrap{
    padding:rem(50) rem(10);
    @media screen and (min-width:$ipad){
        padding:rem(50);
    }
}

.info-lt{
    font-family: 'DINProMedium', serif;  font-size:rem(13); color:$defaultBlue;
    display: none;
    @media screen and (min-width:$ipad){
        display:block;
    }
    h3{
        background:$defaultBlue; color:$whiteColor; text-transform: uppercase; 
       margin:0; padding:rem(20) rem(17); line-height: 1; font-size:rem(13); 
         
    }

  
}


.info-rt{

    p{
        padding-bottom: rem(30); margin-bottom: 0;
    }

    h3{
        color:#325989; font-size: rem(24); text-align: center;
        @media screen and (min-width:$ipad){
            font-size: rem(33);
        }
        
    }
     
        ul{
             margin: 0 0 rem(30) rem(20);
            padding: 0rem 0;
            li{
                font-size: rem(18); line-height:rem(26); list-style: none; color:$gray;
                &:before{
                    content: "\2022";  
                    color: $activeColor; 
                    font-weight: bold;  
                    display: inline-block;  
                    width: 1em;  
                    margin-left: -1em;  
                    font-size:1.2rem;
                    position: relative;
                    top:2px;
                }
                a{
                    color:$defaultBlue;
         
                }
                
            }
        }
        
    .accordion{
        > ul  {
            margin:0;
            > li {
                border-bottom: solid #e6ebf1 4px;
                &:before{
                    display:none;
                }
                > a{
                    background: $whiteColor; text-transform: inherit; font-size: rem(17);
                    &:before{
                        display:none;
                    }
                }
            }
        }
       
       p{
           padding:rem(20);
       }
       .learn-more-bl{
        padding: 2rem 0;
        display: inline-block;
        float: right;
        }
    }
  
}

.current_page_item > a, h3.current_page_item {
    background:$defaultBlue!important;
    color:$whiteColor!important;

}

.current_page_item > a{
    i{
        &:before, &:after{
            background:$whiteColor!important;
        }
    }

}

.accordion div .current_page_item a{

    color:$activeColor!important;
    background:none!important;
}