.job-listing-wraper{
    .container{
        @media screen and (max-width:$mobileEnd){
            padding-bottom:rem(30);
        }
        &:first-child{
            @media screen and (max-width:$mobileEnd){
                padding:0;
            }
            .row{
                @media screen and (max-width:$mobileEnd){
                    margin:0;
                }
                
            }
            .col-sm-12{
                @media screen and (max-width:$mobileEnd){
                    padding:0;
                }
                
            }
        }
    }
}
.job-list{
    border-bottom: solid #e6ebf1 4px;  padding:0 rem(10) rem(45) rem(10); margin: 0 0 rem(45) 0;
    @media screen and (min-width:$ipad){
        padding:0 0 rem(45) 0; margin: 0 0 rem(45) 0 
    }
}

.job-name{
    h2{
        font-family: 'DINProMedium', serif;  font-size: rem(23);  display: block; padding-bottom:rem(0);
        @media screen and (min-width:$ipad){
            font-size: rem(23); padding-bottom:rem(40);
        }
        
        span{
            font-family: 'DINProBold', serif;  font-size: rem(13); line-height: rem(32); display: block;
        }
       
    }
}

.job-des{
    p{padding:0; margin: 0}
}

.job-apply{
  
    width: auto;
    display: block; padding-top: rem(20);
     @media screen and (min-width:$ipad){
        float: right; display: none;  text-align: center; padding-top: rem(0);
    }
    .btn-primary{
        display:inline-block;
        background:$defaultBlue;
        color: $whiteColor;
        padding:rem(15) rem(35);
        box-shadow:none;
        &:hover{
            background:$activeColor;
            
        }
    }

    .learn-more-bl{
        display:inherit;
        margin-top:rem(20);
    }
}


// ######## Job Details style #########
.job-details{
    padding:rem(45) 0;
    @media screen and (max-width:$ipad){
        padding:rem(45) rem(30);
    }
    .btn-primary{
        display:inline-block;
        background:$defaultBlue;
        color: $whiteColor;
        padding:rem(15) rem(35);
        box-shadow:none;
        &:hover{
            background:$activeColor;
            
        }
    }
    .job-name{
        border-bottom: solid #e6ebf1 4px;  padding:0 0 rem(25) 0; margin: 0 0 rem(45) 0 ;
        h2{
            font-size:rem(30); padding-bottom: 0; width: 82%; float: left;
            @media screen and (min-width:$ipad){
                font-size:rem(40);
            }
        }

        .learn-more-bl{
            float: left;
            margin-bottom: rem(20);
            @media screen and (min-width:$ipad){
                float: right;
                top:rem(24); position: relative;
            }
            &::after{
               background:none
            }
            &:before{
                     content:'';
                    background:url(../images/sprite.png) no-repeat 0px -120px;
                    width:21px; height:21px; display:inline-block;
                    position: relative;
                    top: 5px;
                    margin-right:rem(10);
               
            }
            &:hover{
               
                &::before{
                    background-position:-23px -120px;
                } 
            }
        }
    }

    .job-des{
        padding-bottom: rem(30);
        h3{
            font-family: 'DINProMedium', serif;  font-size: rem(20);  display: block; text-transform: uppercase;
            color:$defaultBlue; padding-bottom: rem(5);
            @media screen and (min-width:$ipad){
                font-size: rem(24);
            }
        }

        p{
            padding-bottom: rem(30);
        }
        
    }
}

.apply-now {
    display: inline-block;
    text-align: center;
    img{
        position: relative;
        top: -15px; z-index:1;
    }
    .btn-primary{
        display: block;  position: relative; z-index: 2;
    }
}