.logo{
	position: relative;
	top:0.5rem;
}
.nav{
	background:$whiteColor;
	height: rem(105);
	box-shadow:0 0 3px #ccc;
	z-index:150;
	position: fixed;
	width:100%;
	top:0;
 	> .container{
		@media screen and (max-width:767px) {
			width: 100%;
		}
	 }
	.cbp-hrmenu {
		width:auto;
		position: relative;
		float: right;
		display:none;
		@media screen and (min-width:$ipad) {
			display: block;
	   }
		ul{
			margin: 0;
			padding: 0;
			list-style-type: none;
	   }
		>.cbp-hrsub-inner{
			margin: 0 auto;
			padding: 0em;
			font-family: 'DINProBold';
			
	   }
		>ul>li > a{
			font-size: rem(13);
			padding:rem(40) 1.4em;
			color: #0c3a73;
			display: inline-block;
			text-transform: uppercase;
			position: relative;
			font-family: 'DINProBold';
			&:after{
				width: 0;
				height: 0;
				border-left:5px solid transparent;
				border-right:5px solid transparent;
				content: '';
				border-top:5px solid $defaultBlue;
				position: absolute;
				right: 0;
				top: 48%;
			 
		   }
			&:hover{
				color: $activeColor ;
				text-decoration: none;
		   }
	   }
		ul > li {
			display: inline-block; position: relative;
			&:after{
				content: "";
				border-bottom:solid $activeColor 4px;
				position: absolute;
				bottom: -5px;
				  width:0;
				  transition: all 0.5s ease-in-out;
			}

			li{
				display:block; 
				a{
					font-family:'DINProLight', serif; color:$defaultBlue;
					&:hover{
						color:$activeColor;
					}
				}
			}
	   }
	   p{
		   padding-bottom:0; 
	   }
   }

   &.fixedHeader{
    	position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		-webkit-box-shadow: 0 4px 3px rgba(0,0,0,.5);
		box-shadow: 0 4px 3px rgba(0,0,0,.5);
	 
		z-index: 999;
   }
}
.cbp-hrmenu > ul > li.cbp-hropen a, .cbp-hrmenu > ul > li.cbp-hropen > a:hover {
	color:$grayColor;
	font-family: 'DINProBold';
	
}
/* sub-menu */
.cbp-hrmenu .cbp-hrsub {
	display: none;
	position: absolute;
	background: $whiteColor;
	width: 100%;
	left: 0;
 	box-shadow:inset 0 7px 9px -9px rgba(0,0,0,0.7),  0 7px 9px -3px rgba(0,0,0,0.4);
	overflow: hidden;
	overflow-y:auto;
		
}
.cbp-hropen {
	&:after{
	  
	  	width: 100%!important;
	}
	.cbp-hrsub{
		display: block;
		padding-bottom: 3em;
	}

}
 
.cbp-hrmenu .cbp-hrsub-inner:before, .cbp-hrmenu .cbp-hrsub-inner:after {
	content: " ";
	display: table;
}
.cbp-hrmenu .cbp-hrsub-inner:after {
	clear: both;
}
.cbp-hrmenu .cbp-hrsub-inner > div a {
	line-height: 2em;
}
.cbp-hrsub h4 {
	color: $defaultBlue;
	padding: 2em 0 0.6em;
	margin: 0;
	font-size:rem(20);
	font-family: 'DINProMedium', serif;
	text-transform: uppercase;
}
/* Examples for media queries */
 
.nav-right{
	color:$defaultBlue;
	padding:rem(38) 0 rem(28) 0;
	font-size: rem(18);
	margin:0 0 0 rem(25);
	float:right;
	li{
		list-style: none;
		display:inline-block;
		margin:0 rem(10);
		a{
			color:$defaultBlue;
			&.serchBtn{
				// background: url(../images/sprite.png) no-repeat -277px -9px;
				width: 18px;
				height: 18px;
				display:inline-block; overflow: hidden;
				img{
					// transition: all 0.5s ease-in-out;
				}
				&:hover{
					// background-position:-277px -33px;
					img{
					transform: translateY(-18px);
					-moz-transform: translateY(-18px);
					-webkit-transform: translateY(-18px);
					-ms-transform: translateY(-18px);
					}
			   }
			   &:after{
				   height: 0;
				   content: '';
				   transition: all 0.5s ease-in-out;
			   }
			   &.open{
				transition: all 0.5s ease-in-out;
				   &:after{
			  		background: #003666;
					content: '';
					width: 30px;
					height:79	px;
					position: absolute;
					right: 64px;
					z-index: 1;
					top: 28px;	
					
				   }	
				   
				   img{
					transform: translateY(-18px);
					-moz-transform: translateY(-18px);
					-webkit-transform: translateY(-18px);
					-ms-transform: translateY(-18px);
					 position: relative;
					 z-index: 10;
					}
			   }
		   }
			&.user{
				// background: url(../images/sprite.png) no-repeat -302px -9px;
				width: 20px;
				height:20px;
				display:inline-block; overflow: hidden;
				img{
					// transition: all 0.5s ease-in-out;
				}
				&:hover{
					// background-position:-302px -33px;
					img{
						transform: translateY(-22px);
						-moz-transform: translateY(-22px);
						-webkit-transform: translateY(-22px);
						-ms-transform: translateY(-22px);
						}
			   }
		   }
			&.menu {
				display: block;
				width:20px;
				height:20px;
				position:relative;
				top:2px;
				span:after, span:before {
					content: "";
					position: absolute;
					left: 0;
					top: -9px;
			   }
				span:after{
					top: 9px;
			   }
				span {
					position: relative;
					display: block;
					top:5px;
			   }
				span, span:after, span:before {
					width: 100%;
					height:1px;
					background-color:$defaultBlue;
					transition: all 0.3s;
					backface-visibility: hidden;
			   }
			   /* on activation */
				&.on span {
					background-color: transparent;
			   }
				&.on span:before {
					transform: rotate(45deg) translate(5px, 5px);
				   background-color: $activeColor;
			   }
				&.on span:after {
					transform: rotate(-45deg) translate(7px, -8px);
					background-color: $activeColor;
			   }
				&.on + #menu {
					opacity: 1;
					visibility: visible;
			   }
		   }
	   }
   }
}
.searchContainer {
	height: 80px;
	background: #003666;
	border-top: 1px solid #000;
	position: fixed;
	width: 100%;
	z-index: 6;
	top: 0;
	ul{
		margin:0px;
		padding: 0;
		border: 0;
		border-bottom: 1px solid $activeColor;
		li{
			display: inline-block;
			vertical-align: middle;
			&.searchIcon {
				// margin-right: 15px;
				.glyphicon{
					font-size:30px;
					color:$whiteColor;
			   }
		   }
			&.searchInput {
				width:96%;
				padding:1rem 1rem 0.5rem 1rem;
				input{
					background: none;
					border: 0;
					width: 100%;
					color:$whiteColor;
					font-size: 26px;
					&:focus{
						outline: none;
				   }
			   }
		   }
	   }
   }
	&.open{
		display: block;
   }
	a#headersearch {
		font-size: 30px;
		color: #fff;
   }
}



* {
  margin: 0;
  padding: 0; 
}

/* Icon 1 */

.movbile-nav
{
	display:inline-block!important;
	@media screen and (min-width:$ipad){
		display: none!important;
	}
a{
  width:20px;
  height:20px;
  position: relative;
  margin:auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  display:inline-block;
 
}
}

.movbile-nav  span {
  display: block;
  position: absolute;
  height:2px;
  width: 100%;
  background:$defaultBlue;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}
 
/* Icon 4 */
 
.movbile-nav  span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.movbile-nav  span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.movbile-nav span:nth-child(3) {
  top:20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

.movbile-nav.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 2px;
    left: 3px;
}

.movbile-nav.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

.movbile-nav.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 16px;
  left: 3px;
}