.thought-leadership{
    @media screen and (min-width: $ipad){

        .leadership {
            padding:0rem 0 6.25rem 0;

            .col-sm-4, .col-sm-8{
            margin-bottom: rem(30);  
            }
            .bx{
                margin-bottom:0;  padding:rem(35)  rem(35) rem(30)  rem(35); 
            }
        }
    }
    .screenDivider{
      height:rem(105);
    }
    h2{
        text-align: center; padding:rem(40) 0 rem(20) 0 
    }
}

.leadership-search{
    padding:0;

    .search-inner{
        padding:1.8rem 2rem 1.8rem 2rem;
        width: 100%;
        display: flex;
    }
}