$whiteColor:#fff;
$learnMore :#dbbb68;
$activeColor :#dbbb68;
$optionColor:#0c3a73;
$btnPrimaryColor:#dbbb68;
$btnPrimaryColorText:#0c3a73;
$defaultBlue:#0c3a73;
$grayColor:#414141;
$arrow-color: #dbbb68;
$arrow-size: 10px;
$arrow-border:1px;
$subscriptbxBg:#f6f6f6;
$lightGray:#f8f8f8;
$lightBlue:#e6ebf1;