{% extends "app/templates/layout.html" %}

{% block content %} 
{% include "app/templates/partials/nav.html" %}
<section class="inner-banner" style="background-image:url(images/contact-banner.jpg)"  >
    <div class="container">
            <div class="row">
                <div class="col-sm-12">
                          <h1>Contact Us</h1>

                </div>
            </div>
        </div> 
        <div class="overlay"></div>
</section>
 
<div class="contact-wrap">
<div class="register-office">
        <div class="container">
                <div class="row">
                        <div class="col-sm-12 col-md-4 d-block d-md-none">
                                <div class="subscribe-bx">
                                        <p>Reach out to us  </p>
                                   
                                      <form>
                                        <div class="two-field">
                                            <div class="form-group">
                                                    <select class="csel">
                                                    <option selected="selected">MR.</option>
                                                    <option >MRS.</option>
                                                    </select>
                                            </div>
                                        
                                            <div class="form-group">
                                                <input type="text" placeholder="&nbsp;" validation="required" name="name" class="form-control" >
                                                <span class="label">Name<sup>*</sup></span>
                                                <span class="border"></span>
                                                <div class="error-msg"></div>
                                            </div>
                                        </div>
                                          <div class="form-group">
                                                <input type="text" placeholder="&nbsp;" validation="required" name="company" class="form-control" >
                                                <span class="label">Company<sup>*</sup></span>
                                                <span class="border"></span>
                                                <div class="error-msg"></div>
                                            </div>
                                               <div class="form-group">
                                                    <input type="text" placeholder="&nbsp;" validation="required" name="email" class="form-control" >
                                                    <span class="label">Email<sup>*</sup></span>
                                                    <span class="border"></span>
                                                    <div class="error-msg"></div>
                                                </div>
                                                <div class="form-group">
                                                    <textarea id="address" validation="required" name="address"></textarea>
                                                    <span class="label">Address<sup>*</sup></span>
                                                    <span class="border"></span>
                                                    <div class="error-msg"></div>
                                                </div>
                                                <div class="form-group">
                                                        <input type="text" placeholder="&nbsp;" validation="required" name="phone" class="form-control" >
                                                        <span class="label">Phone<sup>*</sup></span>
                                                        <span class="border"></span>
                                                        <div class="error-msg"></div>
                                                    </div>
                                                <div class="form-group">
                                                        <input type="text" placeholder="&nbsp;" validation="required" name="phone" class="form-control" >
                                                        <span class="label">Mobile<sup>*</sup></span>
                                                        <span class="border"></span>
                                                        <div class="error-msg"></div>
                                                 </div>
                                                 <div class="form-group">
                                                        <input type="text" placeholder="&nbsp;" validation="required" name="industry" class="form-control" >
                                                        <span class="label">Type of Industry<sup>*</sup></span>
                                                        <span class="border"></span>
                                                        <div class="error-msg"></div>
                                                 </div>
                                                 <div class="form-group">
                                                        <textarea id="area" validation="required" name="area"></textarea>
                                                        <span class="label">Query/Remark<sup>*</sup></span>
                                                        <span class="border"></span>
                                                        <div class="error-msg"></div>
                                                    </div>
                                                    <div class="form-group">
                                                            <input type="text" placeholder="&nbsp;" validation="required" name="captcha" class="form-control" >
                                                            <span class="label">Enter the code shown below<sup>*</sup></span>
                                                            <span class="border"></span>
                                                            <div class="error-msg"></div>
                                                     </div>
                                                     <div class="form-group">
                                                            <div class="captcha">
                                                                <img src="images/captcha.png" alt="captcha" >
                                                            </div>
                                                            <div class="refress">
                                                                    <a href="javascript:void(0);" title="Image from freeiconspng.com"><img src="images/arrow-fresh-refresh-icon--22.png" width="40" alt="Arrow, fresh, refresh icon " /></a>
                                                            </div>
                                                     </div>
                                                <button type="submit" class="btn btn-primary">SEND</button>
                                                <p class="call"><span>OR</span> simply call us at 18200-8200-2255</p>
                                              </form>
                                 </div>
                        </div>
                    <div class="col-6 col-md-4">
                        <address>
                            <h3>Corporate Office</h3>
                            <p>81/2, 2nd & 3rd Floors Aurobindo Marg, Adhchini New Delhi 110017, India</p>
                            <p><span>Phone:</span> +91-11-40123000</p>
                            <p><span>Fax:</span>  +91-11-40123010</p>
                            <p><span>Email:</span>  <a href="mailto:ssrana@ssrana.com">ssrana@ssrana.com</a></p>
                            <a href="javascript:void(0);" class="view-map"><span><img src="images/m-pin-white.png" alt="map" ></span>View on a map</a>
                        </address>
                    </div>
                    <div class="col-6 col-md-4">
                            <address>
                                    <h3>Registered Office</h3>
                                    <p>317, Lawyers' Chambers High Court of Delhi New Delhi 110003, India</p>
                                    <p><span>Phone:</span> +91-11-40123000</p>
                                    <p><span>Fax:</span>  +91-11-40123010</p>
                                    <p><span>Email:</span>  <a href="mailto:ssrana@ssrana.com">ssrana@ssrana.com</a></p>
                                    <a href="javascript:void(0);" class="view-map"><span><img src="images/m-pin-white.png" alt="map" ></span>View on a map</a>
                                </address>
 
                    </div>
                     
                    <div class="col-sm-12 col-md-4  d-none d-md-block">
                            <div class="subscribe-bx">
                                    <p>Reach out to us  </p>
                               
                                  <form>
                                    <div class="two-field">
                                        <div class="form-group">
                                                <select class="csel">
                                                <option selected="selected">MR.</option>
                                                <option >MRS.</option>
                                                </select>
                                        </div>
                                    
                                        <div class="form-group">
                                            <input type="text" placeholder="&nbsp;" validation="required" name="name" class="form-control" >
                                            <span class="label">Name<sup>*</sup></span>
                                            <span class="border"></span>
                                            <div class="error-msg"></div>
                                        </div>
                                    </div>
                                      <div class="form-group">
                                            <input type="text" placeholder="&nbsp;" validation="required" name="company" class="form-control" >
                                            <span class="label">Company<sup>*</sup></span>
                                            <span class="border"></span>
                                            <div class="error-msg"></div>
                                        </div>
                                           <div class="form-group">
                                                <input type="text" placeholder="&nbsp;" validation="required" name="email" class="form-control" >
                                                <span class="label">Email<sup>*</sup></span>
                                                <span class="border"></span>
                                                <div class="error-msg"></div>
                                            </div>
                                            <div class="form-group">
                                                <textarea id="address" validation="required" name="address"></textarea>
                                                <span class="label">Address<sup>*</sup></span>
                                                <span class="border"></span>
                                                <div class="error-msg"></div>
                                            </div>
                                            <div class="form-group">
                                                    <input type="text" placeholder="&nbsp;" validation="required" name="phone" class="form-control" >
                                                    <span class="label">Phone<sup>*</sup></span>
                                                    <span class="border"></span>
                                                    <div class="error-msg"></div>
                                                </div>
                                            <div class="form-group">
                                                    <input type="text" placeholder="&nbsp;" validation="required" name="phone" class="form-control" >
                                                    <span class="label">Mobile<sup>*</sup></span>
                                                    <span class="border"></span>
                                                    <div class="error-msg"></div>
                                             </div>
                                             <div class="form-group">
                                                    <input type="text" placeholder="&nbsp;" validation="required" name="industry" class="form-control" >
                                                    <span class="label">Type of Industry<sup>*</sup></span>
                                                    <span class="border"></span>
                                                    <div class="error-msg"></div>
                                             </div>
                                             <div class="form-group">
                                                    <textarea id="area" validation="required" name="area"></textarea>
                                                    <span class="label">Query/Remark<sup>*</sup></span>
                                                    <span class="border"></span>
                                                    <div class="error-msg"></div>
                                                </div>
                                                <div class="form-group">
                                                        <input type="text" placeholder="&nbsp;" validation="required" name="captcha" class="form-control" >
                                                        <span class="label">Enter the code shown below<sup>*</sup></span>
                                                        <span class="border"></span>
                                                        <div class="error-msg"></div>
                                                 </div>
                                                 <div class="form-group">
                                                        <div class="captcha">
                                                            <img src="images/captcha.png" alt="captcha" >
                                                        </div>
                                                        <div class="refress">
                                                                <a href="javascript:void(0);" title="Image from freeiconspng.com"><img src="images/arrow-fresh-refresh-icon--22.png" width="40" alt="Arrow, fresh, refresh icon " /></a>
                                                        </div>
                                                 </div>
                                            <button type="submit" class="btn btn-primary">SEND</button>
                                            <p class="call"><span>OR</span> simply call us at 18200-8200-2255</p>
                                          </form>
                             </div>
                    </div>
                </div>
            </div> 
</div> 
<div class="other-offices">
       
        <div class="container">
                <h2>Branch Offices</h2>
                <div class="row">
                        <div class="col-6 col-md-4">
                                <address>
                                    <h3>Noida Office</h3>
                                    <p>81/2, 2nd & 3rd Floors Aurobindo Marg, Adhchini New Delhi 110017, India</p>
                                    <p><span>Phone:</span> +91-11-40123000</p>
                                    <p><span>Fax:</span>  +91-11-40123010</p>
                                    <p><span>Email:</span>  <a href="mailto:ssrana@ssrana.com">ssrana@ssrana.com</a></p>
                                    <a href="javascript:void(0);" class="view-map"><span><img src="images/m-pin-blue.png" alt="map" ></span>View on a map</a>
                                </address>
                         </div>
                         <div class="col-6 col-md-4">
                                <address>
                                    <h3>Banglore Office</h3>
                                    <p>81/2, 2nd & 3rd Floors Aurobindo Marg, Adhchini New Delhi 110017, India</p>
                                    <p><span>Phone:</span> +91-11-40123000</p>
                                    <p><span>Fax:</span>  +91-11-40123010</p>
                                    <p><span>Email:</span>  <a href="mailto:ssrana@ssrana.com">ssrana@ssrana.com</a></p>
                                    <a href="javascript:void(0);" class="view-map"><span><img src="images/m-pin-blue.png" alt="map" ></span>View on a map</a>
                                </address>
                         </div>
                         <div class="col-6 col-md-4"></div>
                         <div class="col-6 col-md-4">
                                <address>
                                    <h3>Chennai  Office</h3>
                                    <p>81/2, 2nd & 3rd Floors Aurobindo Marg, Adhchini New Delhi 110017, India</p>
                                    <p><span>Phone:</span> +91-11-40123000</p>
                                    <p><span>Fax:</span>  +91-11-40123010</p>
                                    <p><span>Email:</span>  <a href="mailto:ssrana@ssrana.com">ssrana@ssrana.com</a></p>
                                    <a href="javascript:void(0);" class="view-map"><span><img src="images/m-pin-blue.png" alt="map" ></span>View on a map</a>
                                </address>
                         </div>
                         <div class="col-6 col-md-4">
                                <address>
                                    <h3>Kolkata  Office</h3>
                                    <p>81/2, 2nd & 3rd Floors Aurobindo Marg, Adhchini New Delhi 110017, India</p>
                                    <p><span>Phone:</span> +91-11-40123000</p>
                                    <p><span>Fax:</span>  +91-11-40123010</p>
                                    <p><span>Email:</span>  <a href="mailto:ssrana@ssrana.com">ssrana@ssrana.com</a></p>
                                    <a href="javascript:void(0);" class="view-map"><span><img src="images/m-pin-blue.png" alt="map" ></span>View on a map</a>
                                </address>
                         </div>
                         <div class="col-6 col-md-4">
                                <address>
                                    <h3>Mumbai  Office</h3>
                                    <p>81/2, 2nd & 3rd Floors Aurobindo Marg, Adhchini New Delhi 110017, India</p>
                                    <p><span>Phone:</span> +91-11-40123000</p>
                                    <p><span>Fax:</span>  +91-11-40123010</p>
                                    <p><span>Email:</span>  <a href="mailto:ssrana@ssrana.com">ssrana@ssrana.com</a></p>
                                    <a href="javascript:void(0);" class="view-map"><span><img src="images/m-pin-blue.png" alt="map" ></span>View on a map</a>
                                </address>
                         </div>
                         <div class="col-6 col-md-4">
                                <address>
                                    <h3>Chandigrah Office</h3>
                                    <p>81/2, 2nd & 3rd Floors Aurobindo Marg, Adhchini New Delhi 110017, India</p>
                                    <p><span>Phone:</span> +91-11-40123000</p>
                                    <p><span>Fax:</span>  +91-11-40123010</p>
                                    <p><span>Email:</span>  <a href="mailto:ssrana@ssrana.com">ssrana@ssrana.com</a></p>
                                    <a href="javascript:void(0);" class="view-map"><span><img src="images/m-pin-blue.png" alt="map" ></span>View on a map</a>
                                </address>
                         </div>
                </div>
            </div> 
</div>

</div>
{% include "app/templates/partials/footer.html" %}
{% endblock %}