{% extends "app/templates/layout.html" %}

{% block content %} 
{% include "app/templates/partials/nav.html" %}
<section class="inner-banner" style="background-image:url(images/contact-banner.jpg)"  >
    <div class="container">
            <div class="row">
                <div class="col-sm-12">
                          <h1>Contact Us</h1>

                </div>
            </div>
        </div> 
        <div class="overlay"></div>
</section>
 
<div class="contact-wrap">
<div class="register-office">
        <div class="container">
                <div class="row">
                        <div class="col-sm-12 col-md-4 d-block d-md-none">
                                <div class="subscribe-bx">
                                        <p>Reach out to us  </p>
                                   
                                      <form>
                                                <div class="form-group">
                                                  <label for="name">Full Name<sup>*</sup></label>
                                                  <input type="text" class="form-control">
                                               
                                                </div>
                                                <div class="form-group">
                                                  <label for="Phone">Business Email / Phone<sup>*</sup></label>
                                                  <input type="text" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                        <select class="csel">
                                                        <option selected="selected">You Need</option>
                                                        <option>Business</option>
                                                        <option>Email</option>
                                                        </select>
                                                </div>
                                                <button type="submit" class="btn btn-primary">SEND</button>
                                                <p class="call"><span>OR</span> simply call us at 18200-8200-2255</p>
                                              </form>
                                 </div>
                        </div>
                    <div class="col-6 col-md-4">
                        <address>
                            <h3>Corporate Office</h3>
                            <p>81/2, 2nd & 3rd Floors Aurobindo Marg, Adhchini New Delhi 110017, India</p>
                            <p><span>Phone:</span> +91-11-40123000</p>
                            <p><span>Fax:</span>  +91-11-40123010</p>
                            <p><span>Email:</span>  <a href="mailto:ssrana@ssrana.com">ssrana@ssrana.com</a></p>
                            <a href="javascript:void(0);" class="view-map"><span><img src="images/m-pin-white.png" alt="map" ></span>View on a map</a>
                        </address>
                    </div>
                    <div class="col-6 col-md-4">
                            <address>
                                    <h3>Registered Office</h3>
                                    <p>317, Lawyers' Chambers High Court of Delhi New Delhi 110003, India</p>
                                    <p><span>Phone:</span> +91-11-40123000</p>
                                    <p><span>Fax:</span>  +91-11-40123010</p>
                                    <p><span>Email:</span>  <a href="mailto:ssrana@ssrana.com">ssrana@ssrana.com</a></p>
                                    <a href="javascript:void(0);" class="view-map"><span><img src="images/m-pin-white.png" alt="map" ></span>View on a map</a>
                                </address>
 
                    </div>
                    <div class="col-sm-12 col-md-4  d-none d-md-block">
                            <div class="subscribe-bx">
                                    <p>Reach out to us  </p>
                               
                                  <form>
                                            <div class="form-group">
                                              <label for="name">Full Name<sup>*</sup></label>
                                              <input type="text" class="form-control">
                                           
                                            </div>
                                            <div class="form-group">
                                              <label for="Phone">Business Email / Phone<sup>*</sup></label>
                                              <input type="text" class="form-control">
                                            </div>
                                            <div class="form-group">
                                                    <select class="csel">
                                                    <option selected="selected">You Need</option>
                                                    <option>Business</option>
                                                    <option>Email</option>
                                                    </select>
                                            </div>
                                            <button type="submit" class="btn btn-primary">SEND</button>
                                            <p class="call"><span>OR</span> simply call us at 18200-8200-2255</p>
                                          </form>
                             </div>
                    </div>
                </div>
            </div> 
</div> 
<div class="other-offices">
       
        <div class="container">
                <h2>Branch Offices</h2>
                <div class="row">
                        <div class="col-6 col-md-4">
                                <address>
                                    <h3>Noida Office</h3>
                                    <p>81/2, 2nd & 3rd Floors Aurobindo Marg, Adhchini New Delhi 110017, India</p>
                                    <p><span>Phone:</span> +91-11-40123000</p>
                                    <p><span>Fax:</span>  +91-11-40123010</p>
                                    <p><span>Email:</span>  <a href="mailto:ssrana@ssrana.com">ssrana@ssrana.com</a></p>
                                    <a href="javascript:void(0);" class="view-map"><span><img src="images/m-pin-blue.png" alt="map" ></span>View on a map</a>
                                </address>
                         </div>
                         <div class="col-6 col-md-4">
                                <address>
                                    <h3>Banglore Office</h3>
                                    <p>81/2, 2nd & 3rd Floors Aurobindo Marg, Adhchini New Delhi 110017, India</p>
                                    <p><span>Phone:</span> +91-11-40123000</p>
                                    <p><span>Fax:</span>  +91-11-40123010</p>
                                    <p><span>Email:</span>  <a href="mailto:ssrana@ssrana.com">ssrana@ssrana.com</a></p>
                                    <a href="javascript:void(0);" class="view-map"><span><img src="images/m-pin-blue.png" alt="map" ></span>View on a map</a>
                                </address>
                         </div>
                         <div class="col-6 col-md-4">
                                <address>
                                    <h3>Chennai  Office</h3>
                                    <p>81/2, 2nd & 3rd Floors Aurobindo Marg, Adhchini New Delhi 110017, India</p>
                                    <p><span>Phone:</span> +91-11-40123000</p>
                                    <p><span>Fax:</span>  +91-11-40123010</p>
                                    <p><span>Email:</span>  <a href="mailto:ssrana@ssrana.com">ssrana@ssrana.com</a></p>
                                    <a href="javascript:void(0);" class="view-map"><span><img src="images/m-pin-blue.png" alt="map" ></span>View on a map</a>
                                </address>
                         </div>
                         <div class="col-6 col-md-4">
                                <address>
                                    <h3>Kolkata  Office</h3>
                                    <p>81/2, 2nd & 3rd Floors Aurobindo Marg, Adhchini New Delhi 110017, India</p>
                                    <p><span>Phone:</span> +91-11-40123000</p>
                                    <p><span>Fax:</span>  +91-11-40123010</p>
                                    <p><span>Email:</span>  <a href="mailto:ssrana@ssrana.com">ssrana@ssrana.com</a></p>
                                    <a href="javascript:void(0);" class="view-map"><span><img src="images/m-pin-blue.png" alt="map" ></span>View on a map</a>
                                </address>
                         </div>
                         <div class="col-6 col-md-4">
                                <address>
                                    <h3>Mumbai  Office</h3>
                                    <p>81/2, 2nd & 3rd Floors Aurobindo Marg, Adhchini New Delhi 110017, India</p>
                                    <p><span>Phone:</span> +91-11-40123000</p>
                                    <p><span>Fax:</span>  +91-11-40123010</p>
                                    <p><span>Email:</span>  <a href="mailto:ssrana@ssrana.com">ssrana@ssrana.com</a></p>
                                    <a href="javascript:void(0);" class="view-map"><span><img src="images/m-pin-blue.png" alt="map" ></span>View on a map</a>
                                </address>
                         </div>
                         <div class="col-6 col-md-4">
                                <address>
                                    <h3>Chandigrah Office</h3>
                                    <p>81/2, 2nd & 3rd Floors Aurobindo Marg, Adhchini New Delhi 110017, India</p>
                                    <p><span>Phone:</span> +91-11-40123000</p>
                                    <p><span>Fax:</span>  +91-11-40123010</p>
                                    <p><span>Email:</span>  <a href="mailto:ssrana@ssrana.com">ssrana@ssrana.com</a></p>
                                    <a href="javascript:void(0);" class="view-map"><span><img src="images/m-pin-blue.png" alt="map" ></span>View on a map</a>
                                </address>
                         </div>
                </div>
            </div> 
</div>

</div>
{% include "app/templates/partials/footer.html" %}
{% endblock %}