{% extends "app/templates/layout.html" %}

{% block content %} 
{% include "app/templates/partials/nav.html" %}
<section class="inner-banner" style="background-image:url(images/corporate-law-banner.jpg)"  >
    <div class="container">
            <div class="row">
                <div class="col-sm-12">
                        <h1>Corporate Laws</h1>
                </div>
            </div>
        </div> 
        <div class="overlay"></div>
</section>
{% include "app/templates/partials/inner-sub-links.html"  %} 
<section class="corporate-wraper">
<div class="corporate-law">
    <div class="screenDivider ">&nbsp;</div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="corporate-tp">
          <h3>Our Corporate Laws innovation demands proactive IP counsel known for thought leadership and creative legal strategies.</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. 
          Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
        </div>
      </div>
      
    </div>
    <div class="corporte-detail">
    <div class="row">
      <div class="col-sm-6 col-md-4">
          <a href="javascript:void(0);"> 
          <div class="bx">
              <div class="icon-set">
                  <div class="icon tax"><img src="images/taxation-law-icon.png" alt="taxation-law-icon" ></div>
                  
              </div>
              <div class="detail">
                  <h3>Taxation Laws</h3>
                  <p>Proactive IP counsel known for thought leadership and creative legal strategies. Dienean euismod bibendum laoreet msanget.</p>
                  <a href="javascript:void(0);" class="learn-more-wh" title="Learn more">Learn more</a>
               </div>
          </div>
          </a>
      </div>
      <div class="col-sm-6 col-md-4">
            <a href="javascript:void(0);"> 
          <div class="bx">
              <div class="icon-set">
                  <div class="icon company"><img src="images/company-law-icon.png" alt="company-law-icon" ></div>
                 
              </div>
              <div class="detail">
                  <h3>Company Laws</h3>
                  <p>Proactive IP counsel known for thought leadership and creative legal strategies. Dienean euismod bibendum laoreet msanget.</p>
                  <a href="javascript:void(0);" class="learn-more-wh" title="Learn more">Learn more</a>
               </div>
          </div>
          </a>
      </div>
      <div class="col-sm-6 col-md-4">
            <a href="javascript:void(0);"> 
          <div class="bx">
              <div class="icon-set">
                  <div class="icon bank"><img src="images/banking-icon.png" alt="banking-icon" ></div>
                  
              </div>
              <div class="detail">
                  <h3>Banking Laws</h3>
                  <p>Proactive IP counsel known for thought leadership and creative legal strategies. Dienean euismod bibendum laoreet msanget.</p>
                  <a href="javascript:void(0);" class="learn-more-wh" title="Learn more">Learn more</a>
               </div>
          </div>
            </a>
      </div>
      <div class="col-sm-6 col-md-4">
            <a href="javascript:void(0);"> 
          <div class="bx">
              <div class="icon-set">
                  <div class="icon consumer"><img src="images/consumer-icon.png" alt="consumer-icon" ></div>
                  
              </div>
              <div class="detail">
                  <h3>Consumer Laws</h3>
                  <p>Proactive IP counsel known for thought leadership and creative legal strategies. Dienean euismod bibendum laoreet msanget.</p>
                  <a href="javascript:void(0);" class="learn-more-wh" title="Learn more">Learn more</a>
               </div>
          </div>
            </a>
      </div>
      <div class="col-sm-6 col-md-4">
            <a href="javascript:void(0);"> 
          <div class="bx">
              <div class="icon-set">
                  <div class="icon game"><img src="images/game-icon.png" alt="game-icon" ></div>
                   
              </div>
              <div class="detail">
                  <h3>Games&Sports</h3>
                  <p>Proactive IP counsel known for thought leadership and creative legal strategies. Dienean euismod bibendum laoreet msanget.</p>
                  <a href="javascript:void(0);" class="learn-more-wh" title="Learn more">Learn more</a>
               </div>
          </div>
            </a>
      </div>
      <div class="col-sm-6 col-md-4">
            <a href="javascript:void(0);"> 
          <div class="bx">
              <div class="icon-set">
                  <div class="icon insurance"><img src="images/construction-icon.png" alt="Construction" ></div>
                   
              </div>
              <div class="detail">
                  <h3>Construction & Insurance</h3>
                  <p>Proactive IP counsel known for thought leadership and creative legal strategies. Dienean euismod bibendum laoreet msanget.</p>
                  <a href="javascript:void(0);" class="learn-more-wh" title="Learn more">Learn more</a>
               </div>
          </div>
          </a>
      </div> 
      <div class="col-sm-6 col-md-4">
            <a href="javascript:void(0);"> 
          <div class="bx">
              <div class="icon-set">
                  <div class="icon contact"><img src="images/Commercial-icon.png" alt="commercial" ></div>
                 
              </div>
              <div class="detail">
                  <h3>Commercial Contracts</h3>
                  <p>Proactive IP counsel known for thought leadership and creative legal strategies. Dienean euismod bibendum laoreet msanget.</p>
                  <a href="javascript:void(0);" class="learn-more-wh" title="Learn more">Learn more</a>
               </div>
          </div>
          </a>
      </div>
      <div class="col-sm-6 col-md-4">
            <a href="javascript:void(0);"> 
          <div class="bx">
              <div class="icon-set media">
                  <div class="icon"><img src="images/media-icon.png" alt="media" ></div>
                   
              </div>
              <div class="detail">
                  <h3>Media Law</h3>
                  <p>Proactive IP counsel known for thought leadership and creative legal strategies. Dienean euismod bibendum laoreet msanget.</p>
                  <a href="javascript:void(0);" class="learn-more-wh" title="Learn more">Learn more</a>
               </div>
          </div>
          </a>
      </div>
      <div class="col-sm-6 col-md-4">
            <a href="javascript:void(0);"> 
            <div class="bx">
                <div class="icon-set">
                    <div class="icon info"><img src="images/info-icon.png" alt="Info" ></div>
                    
                </div>
                <div class="detail">
                    <h3>Information Technology</h3>
                    <p>Proactive IP counsel known for thought leadership and creative legal strategies. Dienean euismod bibendum laoreet msanget.</p>
                    <a href="javascript:void(0);" class="learn-more-wh" title="Learn more">Learn more</a>
                </div>
            </div>
          </a>
      </div>
   
    </div>
    </div>
  </div>
 
</div>
{% include "app/templates/partials/leadership.html" %}
</section> 

{% include "app/templates/partials/footer.html" %}
{% endblock %}