<!-- index.nunjucks -->
{% extends "app/templates/layout.html" %}

{% block content %} 
{% include "app/templates/partials/nav.html" %}
{% include "app/templates/partials/banner.html" %}
<section class="services">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <form>
                <div class="search-section" data-aos="fade-up">
                  
                 <div class="text">I am</div>
                 <div class="select-wrap">
                   <select  class="csel">
                     <option>Individual</option>
                     <option>Individual2</option>
                     <option>Individua3</option>
                   </select>
                 </div>
                 <div class="text">and looking to</div>
                 <div class="select-wrap">
                    <select class="csel">
                      <option>how to patent a logo</option>
                      <option>how to patent a logo</option>
                      <option>how to patent a logo</option>
                    </select>
                  </div>
                  <button type="button" class="btn btn-primary">Searh</button>

               
                </div>
                <div class="screenDivider " >&nbsp;</div>
              </form>
            </div>
            <div class="row">
              <div class="col-sm-12">
                  <div class="service-detail">
                     <h2>A Full Service Intellectual Property Firm</h2>
                    <h3>Safeguarding innovation demands proactive IP counsel known for thought leadership and creative legal strategies.</h3>
                    <p>Proactive IP counsel known for thought leadership and creative legal strategies. Dienean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, ss dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, sed rhoncus pronin sapien nunc accuan eget.</p>
                    <a href="javascript:void(0);" class="learn-more-bl" title="Learn More" tabindex="0">Learn More</a>
                  </div>
              </div>
            </div>

        </div>
      </div>
</section> 
<section class="knowledge-wraper">
        <div class="parallax-img" data-type="parallax" data-speed="-2"><div class="overlay"></div></div>
     <div class="container">
        <div class="row">
            <div class="col-sm-4">
               <div class="knowledge-lt">
                  <div class="screenDivider-hr ">&nbsp;</div>
                   <h2>Know more about Our Knowledge Center</h2>
                   <p>How counsel known for thought leadership and creative legal strategies. Dienean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumam fermentum, nulla luctus pharetra vulputatet.</p>
               </div>
            </div>
            <div class="col-sm-8">
                <div class="knowledge-rt">
                   <div class="row">
                     <div class="col-sm-4">
                            <div class="knowledge-bx">
                                <div class="icon-set">
                                    <div class="icon"><img src="images/ip-law-icon.png" alt="IP Law" > </div>
                                    <div class="screenDivider-hr ">&nbsp;</div>
                                </div>
                                <div class="detail">
                                    <h3>IP LAWS</h3>
                                    <p>Proactive IP counsel known for thought leadership and creative legal strategies. Dienean euismod bibendum laoreet msanget.</p>
                                    <ul>
                                    <li><a href="javascript:void(0)" >Patents</a></li>
                                    <li><a href="javascript:void(0)" >Design</a></li>
                                    <li><a href="javascript:void(0)" >Trademarks</a></li>
                                    <li><a href="javascript:void(0)" >Copyright</a></li>
                                    <li><a href="javascript:void(0)" >Domain Names</a></li>
                                    <li><a href="javascript:void(0)" >Geographical indications</a></li>
                                    <li><a href="javascript:void(0)" >Anti Counterfieting</a></li>
                                    <li><a href="javascript:void(0)" >Franchise law</a></li>
                                    </ul>
                                </div>
                            </div>
                     </div>
                     <div class="col-sm-4">
                        <div class="knowledge-bx">
                            <div class="icon-set">
                                <div class="icon Litigation"><img src="images/litigation-icon.png" alt="Litigation" > </div>
                                <div class="screenDivider-hr ">&nbsp;</div>
                                
                            </div>
                            <div class="detail">
                                <h3>Litigation</h3>
                                <p>Proactive IP counsel known for thought leadership and creative legal strategies. Dienean euismod bibendum laoreet msanget.</p>
                                <ul>
                                <li><a href="javascript:void(0);" >IP Litigation</a></li>
                                <li  class="link"><a href="javascript:void(0);">Civil Litigation</a></li>
                                <li><a href="javascript:void(0)" >Disputes & Arbitration</a></li>
                                <li><a href="javascript:void(0)" >Criminal Complaint Cases</a></li>
                                <li><a href="javascript:void(0)" >Special Leave Petition</a></li>
                               
                                </ul> 
                            </div>
                        </div>
                 </div>
                     <div class="col-sm-4">
                        <div class="knowledge-bx">
                            <div class="icon-set">
                                <div class="icon law"><img src="images/corporate-law-icon.png" alt="Corporate LAWS" ></div>
                                <div class="screenDivider-hr ">&nbsp;</div>
                              
                            </div>
                            <div class="detail">
                                <h3>Corporate LAWS</h3>
                                <p>Proactive IP counsel known for thought leadership and creative legal strategies. Dienean euismod bibendum laore msanget. accumsaneget.</p>
                                <ul>
                                <li><a href="javascript:void(0)" >Taxation Laws</a></li>
                                <li><a href="javascript:void(0)" >Company Laws</a></li>
                                <li><a href="javascript:void(0)" >Banking Law</a></li>
                                <li><a href="javascript:void(0)" >Consumer Laws</a></li>
                                <li><a href="javascript:void(0)" >Games & Sports</a></li>
                                <li><a href="javascript:void(0)" >Construction & Insurance</a></li>
                                <li><a href="javascript:void(0)" >Commercial Contracts</a></li>
                                <li><a href="javascript:void(0)" >Media Laws</a></li>
                                <li><a href="javascript:void(0)" >Information Technology</a></li>
                                </ul> 

                            </div>
                        </div>
                 </div>
                
                   </div>
                </div>
              </div>
        </div>
    </div>
</section>
{% include "app/templates/partials/leadership.html" %}
{% include "app/templates/partials/footer.html" %}

{% endblock %}
