{% extends "app/templates/layout.html" %}

{% block content %} 
{% include "app/templates/partials/nav.html" %}
<section class="inner-banner" style="background-image:url(images/info-banner.jpg)"  >
    <div class="container">
            <div class="row">
                <div class="col-sm-12">
                        <h2>Corporate Laws</h2>
                         <h1>Information Technology</h1>

                </div>
            </div>
        </div> 
        <div class="overlay"></div>
</section>
{% include "app/templates/partials/inner-sub-links.html"  %} 
<div class="info-wrap">
<div class="container">
<div class="row">
     <div class="col-sm-3 d-none d-md-block">
         <div class="info-lt">
             <h3 class="current_page_item">Overview</h3>
             <div class="accordion">
             <ul>
             <li><a href="javascript:void(0);"><i></i>IT</a>
                <div>
                 <ul>
                     <li><a href="javascript:void(0);">Lorem ipsum dolor sit amet</a></li>
                     <li><a href="javascript:void(0);">Consectetur adipiscing elit</a></li>
                     <li><a href="javascript:void(0);">Aenean euismod</a></li>
                     <li><a href="javascript:void(0);">bibendum laoreet</a></li>
                 </ul>
                </div>
            </li>
            <li class="current_page_item"><a href="javascript:void(0);"><i></i>Telecommunication</a>
                <div>
                 <ul>
                     <li class="current_page_item"><a href="javascript:void(0);">Lorem ipsum dolor sit amet</a></li>
                     <li><a href="javascript:void(0);">Consectetur adipiscing elit</a></li>
                     <li><a href="javascript:void(0);">Aenean euismod</a></li>
                     <li><a href="javascript:void(0);">bibendum laoreet</a></li>
                 </ul>
                </div>
           </li>
             <li><a href="javascript:void(0);"><i></i>E-commerce</a>
             <div>
                 <ul>
                     <li><a href="javascript:void(0);">Lorem ipsum dolor sit amet</a></li>
                     <li><a href="javascript:void(0);">Consectetur adipiscing elit</a></li>
                     <li><a href="javascript:void(0);">Aenean euismod</a></li>
                     <li><a href="javascript:void(0);">bibendum laoreet</a></li>
                 </ul>
             </div>
              </li>
             <li><a href="javascript:void(0);"><i></i>GDPR</a>
                <div>
             <ul>
                 <li><a href="javascript:void(0);">Lorem ipsum dolor sit amet</a></li>
                 <li><a href="javascript:void(0);">Consectetur adipiscing elit</a></li>
                 <li><a href="javascript:void(0);">Aenean euismod</a></li>
                 <li><a href="javascript:void(0);">bibendum laoreet</a></li>
             </ul>
            </div>
             </li>
             <li><a href="javascript:void(0);"><i></i>Data Privacy</a>
                <div>
             <ul>
                 <li><a href="javascript:void(0);">Lorem ipsum dolor sit amet</a></li>
                 <li><a href="javascript:void(0);">Consectetur adipiscing elit</a></li>
                 <li><a href="javascript:void(0);">Aenean euismod</a></li>
                 <li><a href="javascript:void(0);">bibendum laoreet</a></li>
             </ul>
            </div>
             </li>
            </ul>
        </div>
        </div>
     </div>
     <div class="col-sm-12 col-md-9">
         <div class="info-rt">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
                </p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
                    </p>
                    <ul>
                        <li> Lorem ipsum dolor sit amet </li>
                        <li> Consectetur adipiscing elit </li>
                        <li> Aenean euismod </li>
                        <li> bibendum laoreet </li>
                    </ul>
            <h3>Some of frequently asked questions about IT</h3>
            <div class="accordion">
            <ul>
                    <li><a href="javascript:void(0);"><i></i>Lorem ipsum dolor sit amet, consectetur adipiscing elitn euismod bibendum laoreet</a>
                        <div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.
                                    </p>
                         <ul>
                             <li><a href="javascript:void(0);">Lorem ipsum dolor sit amet</a></li>
                             <li><a href="javascript:void(0);">Consectetur adipiscing elit</a></li>
                             <li><a href="javascript:void(0);">Aenean euismod</a></li>
                             <li><a href="javascript:void(0);">bibendum laoreet</a></li>
                         </ul>
                        </div>
                    </li>
                    <li><a href="javascript:void(0);"><i></i>Aenean euismod bibendum laoreet</a>
                        <div>
                         <ul>
                             <li><a href="javascript:void(0);">Lorem ipsum dolor sit amet</a></li>
                             <li><a href="javascript:void(0);">Consectetur adipiscing elit</a></li>
                             <li><a href="javascript:void(0);">Aenean euismod</a></li>
                             <li><a href="javascript:void(0);">bibendum laoreet</a></li>
                         </ul>
                        </div>
                   </li>
                     <li><a href="javascript:void(0);"><i></i>Aenean euismod bibendum laoreet</a>
                     <div>
                         <ul>
                             <li><a href="javascript:void(0);">Lorem ipsum dolor sit amet</a></li>
                             <li><a href="javascript:void(0);">Consectetur adipiscing elit</a></li>
                             <li><a href="javascript:void(0);">Aenean euismod</a></li>
                             <li><a href="javascript:void(0);">bibendum laoreet</a></li>
                         </ul>
                     </div>
                      </li>
                     <li><a href="javascript:void(0);"><i></i>Aenean euismod bibendum laoreet</a>
                        <div>
                     <ul>
                         <li><a href="javascript:void(0);">Lorem ipsum dolor sit amet</a></li>
                         <li><a href="javascript:void(0);">Consectetur adipiscing elit</a></li>
                         <li><a href="javascript:void(0);">Aenean euismod</a></li>
                         <li><a href="javascript:void(0);">bibendum laoreet</a></li>
                     </ul>
                    </div>
                     </li>
                     <li><a href="javascript:void(0);"><i></i>Data Privacy</a>
                        <div>
                     <ul>
                         <li><a href="javascript:void(0);">Lorem ipsum dolor sit amet</a></li>
                         <li><a href="javascript:void(0);">Consectetur adipiscing elit</a></li>
                         <li><a href="javascript:void(0);">Aenean euismod</a></li>
                         <li><a href="javascript:void(0);">bibendum laoreet</a></li>
                     </ul>
                    </div>
                     </li>
                </ul>
                <a href="javascript:void(0);" class="learn-more-bl" title="Learn More" tabindex="0">Show All</a>
            </div>
        
         </div>
     </div>
 </div>
</div> 
</div>
{% include "app/templates/partials/leadership.html" %}
  

{% include "app/templates/partials/footer.html" %}
{% endblock %}