{% extends "app/templates/layout.html" %} {% block content %} {% include "app/templates/partials/nav.html" %}
<section class="inner-banner" style="background-image:url(images/job-listing-banner.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Job Details</h1>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>

<section class="job-listing-wraper">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="job-details">
                    <div class="row ">
                        <div class="col-sm-12">
                            <div class="job-name">
                                <h2>Associate Jr Lawyer
                                    <span>New Delhi</span>
                                </h2>
                                <a href="job-listing.html" class="learn-more-bl" title="Back to job opening">Back to job opening</a>
                                <div class="clear"></div>
                                <a href="javascript:void(0);" class="btn btn-primary" title="Apply Now">Apply Now</a>
                              
                            </div>
                         
                            <div class="job-des">
                                <h3>JOB DESCRIPTION</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                    Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                                    sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                    mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci. sed rhoncus
                                    pronin sapien nunc accuan eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
                                    justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis
                                    dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate,
                                    felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                    Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                                    sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                    mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci. sed rhoncus
                                    pronin sapien nunc accuan eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
                                    justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis
                                    dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate,
                                    felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
                            </div>
                            <div class="job-des">
                                <h3>SKILLS REQUIRED</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                    Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                                    sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                    mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci. sed rhoncus
                                    pronin sapien nunc accuan eget. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                    Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra
                                    justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis
                                    dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate,
                                    felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.</p>
                            </div>

                            <div class="apply-now"><a href="javascript:void(0);" class="btn btn-primary" title="Apply">Apply Now</a>
                                <img src="images/corporate-law-icon.png" alt="apply img" ></div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

    </div>

</section>

{% include "app/templates/partials/footer.html" %} {% endblock %}