{% extends "app/templates/layout.html" %} {% block content %} {% include "app/templates/partials/nav.html" %}
<section class="inner-banner" style="background-image:url(images/job-listing-banner.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h1>Job Listings</h1>
            </div>
        </div>
    </div>
    <div class="overlay"></div>
</section>
{% include "app/templates/partials/inner-page-search.html" %}
<section class="job-listing-wraper">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="sort-wrap">
                    <div class="total-result">
                        1245 Articles
                    </div>
                    <div class="sort-by title">
                        <span>Sort By:</span>
                        <select class="csel">
                            <option>Title</option>
                            <option>Title 2</option>

                        </select>
                    </div>
                    <div class="sort-by location">
                        <span>Location:</span>
                        <select class="csel">
                            <option>Delhi</option>
                            <option>Mumbai</option>

                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="job-list">
                    <div class="row ">
                        <div class="col-sm-3">
                            <div class="job-name">
                                <h2>
                                    <span>New Delhi</span> Associate Jr Lawyer</h2>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="job-des">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                    Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                                    sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                    mus.</p>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="job-apply">
                                    <a href="javascript:void(0);" class="btn btn-primary" title="Apply Now">Apply Now</a>
                                    <a href="job-details.html" class="learn-more-bl" title="Learn More">LEARN MORE</a>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="job-list">
                    <div class="row ">
                        <div class="col-sm-3">
                            <div class="job-name">
                                <h2>
                                    <span>New Delhi</span> Associate Jr Lawyer</h2>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="job-des">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                    Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                                    sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                    mus.</p>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="job-apply">
                                    <a href="javascript:void(0);" class="btn btn-primary" title="Apply Now">Apply Now</a>
                                    <a href="job-details.html" class="learn-more-bl" title="Learn More">LEARN MORE</a>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="job-list">
                    <div class="row ">
                        <div class="col-sm-3">
                            <div class="job-name">
                                <h2>
                                    <span>New Delhi</span> Associate Jr Lawyer</h2>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="job-des">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                    Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                                    sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                    mus.</p>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="job-apply">
                                    <a href="javascript:void(0);" class="btn btn-primary" title="Apply Now">Apply Now</a>
                                    <a href="job-details.html" class="learn-more-bl" title="Learn More">LEARN MORE</a>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="job-list">
                    <div class="row ">
                        <div class="col-sm-3">
                            <div class="job-name">
                                <h2>
                                    <span>New Delhi</span> Associate Jr Lawyer</h2>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="job-des">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                    Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                                    sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                    mus.</p>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="job-apply">
                                    <a href="javascript:void(0);" class="btn btn-primary" title="Apply Now">Apply Now</a>
                                    <a href="job-details.html" class="learn-more-bl" title="Learn More">LEARN MORE</a>


                            </div>
                        </div>
                    </div>
                </div>

                <div class="job-list">
                    <div class="row ">
                        <div class="col-sm-3">
                            <div class="job-name">
                                <h2>
                                    <span>New Delhi</span> Associate Jr Lawyer</h2>
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="job-des">
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
                                    Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar
                                    sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus
                                    mus.</p>
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="job-apply">
                                    <a href="javascript:void(0);" class="btn btn-primary" title="Apply Now">Apply Now</a>
                                    <a href="job-details.html" class="learn-more-bl" title="Learn More">LEARN MORE</a>

                            </div>
                        </div>
                    </div>
                </div>
                <p align="center"><a href="javascript:void(0);" class="learn-more-bl" title="Learn More" tabindex="0">Load more</a></p>
            </div>

        </div>

    </div>

</section>

{% include "app/templates/partials/footer.html" %} {% endblock %}