<section class="banner">
    <div class="banner-inner ">
        <div class="slider">
        <div class="item" style="background-image: url(images/banner-img01.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="banner-content">
                                <p>3-JAN-2018</p>
                                <h1><span>INDIA:</span> Comprehensive e-filling system for designs application is now available.</h1>
                                <a href="javascript:void(0);" class="learn-more-br" title="Learn More">Learn More</a>
                        </div>
                         
                        </div>
                </div>
            </div>
            <div class="banner-overlay"></div>
        </div>
        <div class="item" style="background-image: url(images/banner-img01.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="banner-content">
                                <p>3-JAN-2018</p>
                                <h1><span>INDIA:</span> Comprehensive e-filling system for designs application is now available.</h1>
                                <a href="javascript:void(0);" class="learn-more-br" title="Learn More">Learn More</a>
                        </div>
                         
                        </div>
                </div>
            </div>
            <div class="banner-overlay"></div>
        </div>
        <div class="item" style="background-image: url(images/banner-img01.jpg)">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="banner-content">
                                <p>3-JAN-2018</p>
                                <h1><span>INDIA:</span> Comprehensive e-filling system for designs application is now available.</h1>
                                <a href="javascript:void(0);" class="learn-more-br" title="Learn More">Learn More</a>
                        </div>
                         
                        </div>
                </div>
            </div>
            <div class="banner-overlay"></div>
        </div>
      
    </div>
      
    </div>
</section>

<script>
    $(document).ready(function() {
  // slick carousel
  $('.slider').slick({
    dots: true,
    vertical: true,
    slidesToShow: 1,
    slidesToScroll: 1,
    verticalSwiping: true,
    arrows: false,
    
  });

    
});
</script>