<footer>
 <div class="footer-spacer"></div>
 <div class="container">
     <div class="row">
         <div class="col-sm-8">
             <div class="row">
                 <div class="col-sm-12">
                     <div class="award">
                         <div class="img"></div>
                         <div class="img"></div>
                         <div class="img"></div>
                         <div class="img"></div>
                         <div class="img"></div>
                         <div class="img"></div>
                         <div class="img"></div>
                     </div>
                 </div>
                 <div class="col-sm-12">
                     <div class="footer-link">
                     <div class="row">
                         <div class="col-sm-3">
                            <h3>About us</h3>
                           <ul>
                                <li><a href="javascript:void(0);">Who we are</a>
                                <li><a href="javascript:void(0);">Our Values</a>
                                <li><a href="javascript:void(0);">CSR</a>
                                <li><a href="javascript:void(0);"> Diversity Report</a>
                                <li><a href="javascript:void(0);">Quality Journey</a>
                                <li><a href="javascript:void(0);">Green Policy</a>
                            </ul>
                         </div>
                         <div class="col-sm-3">
                                <h3>KNOWLEDGE AREAS</h3>
                               <ul>
                                    <li><a href="javascript:void(0);">IP Laws</a>
                                    <li><a href="javascript:void(0);">Litogation</a>
                                    <li><a href="javascript:void(0);">Corporate Laws</a>
                                   
                                </ul>
                        </div>
                        <div class="col-sm-3">
                                <h3>THOUGHT LEADERSHIP </h3>
                               <ul>
                                    <li><a href="javascript:void(0);">Articles & Publications</a>
                                    <li><a href="javascript:void(0);">Newsletter</a>
                                    <li><a href="javascript:void(0);">Awards</a>
                                    <li><a href="javascript:void(0);">Blogs</a>
                                </ul>
                        </div>
                        <div class="col-sm-3">
                                <h3>NEWS & EVENTS</h3>
                                   <ul>
                                    <li><a href="javascript:void(0);">IP News</a>
                                    <li><a href="javascript:void(0);">Corporate News</a>
                                    <li><a href="javascript:void(0);">News</a>
                                    <li><a href="javascript:void(0);">Gallery</a>
                                </ul>
                        </div>
                     </div>
                    </div>
                 </div>
             </div>
         </div>
         <div class="col-sm-4">
             <div class="subscribe-bx">
                    <h3>REACH OUT</h3>
                    <p>Help me with my request</p>


                    <form class="validateform" data-submiturl="/UtilityForms/email-check-opt-in" data-successurl="/paper-towel-coupons/registration">
                            <div class="form-group">
                              <label for="name">Name<sup>*</sup></label>
                              <input type="text" validation="required" name="name" class="form-control" >
                              <div class="error-msg"></div>
                            </div>
                            <div class="form-group">
                              <label for="Phone">Phone</label>
                              <input type="text"  validation="phone" name="phone" class="form-control"  >
                              <div class="error-msg"></div>
                            </div>
                            <div class="form-group">
                                    <select class="csel"  validation="select" id="select" name="logo">
                                        <option value="0" selected="selected">how to patent a logo</option>
                                        <option value="1">how to patent a logo</option>
                                        <option value="2">how to patent a logo</option>
                                    </select>
                                    <div class="error-msg"></div>
                            </div>
                            <!-- <button type="submit" class="btn btn-primary GPformButtonSubmit">Subscribe Now</button> -->
                                <a href="javascript:void(0);"  class="btn btn-primary GPformButtonSubmit">Subscribe Now</a>
                          </form>
             </div>
         </div>
     </div>

     <div class="row">
         <div class="col-sm-2">
            <div class="connect-bx">

                <h3>connect with us</h3>
                <ul >
                    <li><a href="javascript:void(0);" target="_blank" title="Linkedin" class="linkedin"></i></a></li>
                    <li><a href="javascript:void(0);" target="_blank" title="Twitter" class="twitter"></a></li>
                    <li><a href="javascript:void(0);" target="_blank" title="YouTube" class="youtube"></a></li>
                    <li><a href="javascript:void(0);" target="_blank" title="" class="square"></a></li>      
                  </ul>
            </div>
         </div>
         <div class="col-sm-10">
            <div class="certificate">
                <div class="img"></div>
                <div class="img"></div>
                <div class="img"></div>
                <div class="img"></div>
                <div class="img"></div>
            </div>
         </div>
     </div>
  
 </div>
 <div  class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 pull-left">
                    <a href="javascript:void(0);">Terms Of Use</a>|<a href="javascript:void(0);">Privacy Policy</a> 
                   
                </div>
                <div class="col-sm-6 pull-right">Copyright © 2019 SS Rana. ALL RIGHTS RESERVED.  </div>
            </div>

           
        </div>
    </div>
    {% include "app/templates/partials/disclaimer.html" %} 
</footer>
 