<section class="inner-sub-link"  >
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                   <ul>
                        <li><a href="javascript:void(0);">Taxation Laws</a></li>
                        <li><a href="javascript:void(0);"  >Banking Law </a></li>
                        <li><a href="javascript:void(0);"  >Games & Sports  </a></li>
                        <li><a href="javascript:void(0);" >Commercial Contracts</a></li>
                        <li class="active"><a href="javascript:void(0);"  >Information Technology</a></li>
                        <li><a href="javascript:void(0);"  >Company Laws</a></li>
                        <li><a href="javascript:void(0);"  >Consumer Laws</a></li>
                       <li><a href="javascript:void(0);"  >Construction & Insurance</a></li>
                        <li><a href="javascript:void(0);"  >Media Laws</a></li>
                    
                   </ul>
            </div>
        </div>
    </div>
   
</section>