<section class="inner-sub-link"  >
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                   <ul>
                        <li><a href="javascript(0);" class="link">Taxation Laws</a></li>
                        <li><a href="javascript(0);" class="link">Banking Law </a></li>
                        <li><a href="javascript(0);" class="link">Games & Sports  </a></li>
                        <li><a href="javascript(0);" class="link">Commercial Contracts</a></li>
                        <li><a href="javascript(0);" class="link">Information Technology</a></li>
                        <li><a href="javascript(0);" class="link">Company Laws</a></li>
                        <li><a href="javascript(0);" class="link">Consumer Laws</a></li>
                       <li><a href="javascript(0);" class="link">Construction & Insurance</a></li>
                        <li><a href="javascript(0);" class="link">Media Laws</a></li>
                    
                   </ul>
            </div>
        </div>
    </div>
   
</section>