

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
            <div class="page-search leadership-search">
                <div class="search-inner">
                    <input type="text" placeholder="Enter your keyword" id="headpredictivesearch">
                    <button type="button" class="btn btn-primary">Searh</button>
                </div>
                <a href="javascript:void(0);" class="filter-btn"></a>
            </div>
            <div class="filter">
                <div class="row">
                    <div class="col-sm-4">
                            <select class="csel">
                                    <option>Category Type</option>
                                    <option>Category 1</option>
                                    <option>Category 1</option>
                            </select>
                    </div>
                    <div class="col-sm-4">
                            <select class="csel">
                                    <option>Sub Category</option>
                                    <option>Category 1</option>
                                    <option>Category 1</option>
                            </select>
                    </div>
                    <div class="col-sm-4">
                            <input type="text" placeholder="Type here" id="type">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>