<section class="leadership">

    <div class="container">
           <div class="row">
            <div class="col-sm-12 col-md-4">
                <a href="javascript:void(0);">
                    <div class="bx">
                        <h3>Article
                            <span class="date">6-Feb -2019</span>
                        </h3>
                        <p>NDIA: Comprehensive e-filling system for designs application is now available</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="javascript:void(0);">
                    <div class="bx">
                        <h3>News
                            <span class="date">6-Feb -2019</span>
                        </h3>
                        <p>Myanmar: New Trademark and Industrial Design Law been enacted
                        </p>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="javascript:void(0);">
                    <div class="bx">
                        <h3>News
                            <span class="date">6-Feb -2019</span>
                        </h3>
                        <p>Fast Action Protocol for IP matters at the world congress 2019</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4">
                <a href="javascript:void(0);">
                    <div class="bx">
                        <h3>NEWSLETTER
                            <span class="date">6-Feb -2019</span>
                        </h3>
                        <p>India: DPCC grants subsidy for e-safe equipment</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-8 large">
                <a href="javascript:void(0);">
                    <div class="bx">
                        <h3>NEWSLETTER
                            <span class="date">6-Feb -2019</span>
                        </h3>
                        <p>Myanmar: New Trademark and Industrial Design Law been enacted IP matters at the world congress 2019</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-4 ">
                <a href="javascript:void(0);">
                    <div class="bx">
                        <h3>News
                            <span class="date">6-Feb -2019</span>
                        </h3>
                        <p> Myanmar: New Trademark and Industrial Design Law been enacted IP matters at the world congress 2019</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="javascript:void(0);">
                    <div class="bx">
                        <h3>News
                            <span class="date">6-Feb -2019</span>
                        </h3>
                        <p> Myanmar: New Trademark and Industrial Design Law been enacted IP matters at the world congress 2019</p>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md-4">
                <a href="javascript:void(0);">
                    <div class="bx">
                        <h3>News
                            <span class="date">6-Feb -2019</span>
                        </h3>
                        <p> Myanmar: New Trademark and Industrial Design Law been enacted IP matters at the world congress 2019</p>
                    </div>
                </a>
            </div> 
        </div>

    </div>
    </div>
</section>