<section class="nav">
    <div class="container">
        <div class="row"> 
        <div class="col-sm-3"><image src="images/logo.png" class="logo" alt="ssrana" /></div>
        <div class="col-sm-9">
             
				<nav id="cbp-hrmenu" class="cbp-hrmenu">
					<ul>
						<li>
                           	<a href="#">About Us </a>
							<div class="cbp-hrsub">
								<div class="cbp-hrsub-inner"> 
									  	<div class="container">
											<div class="row">
												 <div class="col-sm-3">
														<h4>Who are we</h4>
														<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
														<ul>
																<li><a href="javascript:void(0);">Who we are</a>
																</li><li><a href="javascript:void(0);">Our Values</a>
																</li><li><a href="javascript:void(0);">CSR</a>
																</li><li><a href="javascript:void(0);"> Diversity Report</a>
															 
															</li></ul>
														
												 </div>
												 <div class="col-sm-3">
													 
														<h4>Our Values</h4>
													    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
														
												 </div>

												 <div class="col-sm-3">
														<h4>CSR</h4>
													    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
														
												 </div>
												 <div class="col-sm-3">
														<h4>Green Policy</h4>
													    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
														
												 </div>

												 <div class="col-sm-3">
														<h4>Diversity Report</h4>
													    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
														
												 </div>
												 <div class="col-sm-3">
														<h4>Quality Journey</h4>
													    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
														
												 </div>
												 <div class="col-sm-3">
														<h4>Awards & Certification</h4>
													    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
														
												 </div>

												 <div class="col-sm-3">
														<h4>Corporate Social Responsibility</h4>
														<h4>Pro Bono</h4>
													    
												 </div>
											</div>
										</div>
									 
									 
								 
								</div><!-- /cbp-hrsub-inner -->
							</div>
						</li>
						<li>
							<a href="#">Knowledge Areas</a>
							<div class="cbp-hrsub">
									<div class="cbp-hrsub-inner"> 
											  <div class="container">
												<div class="row">
													 <div class="col-sm-3">
															<h4>Who are we</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
													 <div class="col-sm-3">
														 
															<h4>Our Values</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
	
													 <div class="col-sm-3">
															<h4>CSR</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
													 <div class="col-sm-3">
															<h4>Green Policy</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
	
													 <div class="col-sm-3">
															<h4>Diversity Report</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
													  
	 
												</div>
											</div>
										 
										 
									 
									</div><!-- /cbp-hrsub-inner -->
								</div>
						</li>
						<li>
							<a href="#">Thought Leadership</a>
							<div class="cbp-hrsub">
									<div class="cbp-hrsub-inner"> 
											  <div class="container">
												<div class="row">
													 <div class="col-sm-3">
															<h4>Who are we</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
													 <div class="col-sm-3">
														 
															<h4>Our Values</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
	
													 <div class="col-sm-3">
															<h4>CSR</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
													 <div class="col-sm-3">
															<h4>Green Policy</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
	
													 <div class="col-sm-3">
															<h4>Diversity Report</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
													 <div class="col-sm-3">
															<h4>Quality Journey</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
													 <div class="col-sm-3">
															<h4>Awards & Certification</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
	
													 <div class="col-sm-3">
															<h4>Corporate Social Responsibility</h4>
															<h4>Pro Bono</h4>
															
													 </div>
												</div>
											</div>
										 
										 
									 
									</div><!-- /cbp-hrsub-inner -->
								</div>
						</li>
						<li>
							<a href="#">News & Event</a>
							<div class="cbp-hrsub">
									<div class="cbp-hrsub-inner"> 
											  <div class="container">
												<div class="row">
													 <div class="col-sm-3">
															<h4>Who are we</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
													 <div class="col-sm-3">
														 
															<h4>Our Values</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
	
													 <div class="col-sm-3">
															<h4>CSR</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
													 <div class="col-sm-3">
															<h4>Green Policy</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
	
													 <div class="col-sm-3">
															<h4>Diversity Report</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
													 <div class="col-sm-3">
															<h4>Quality Journey</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
													 <div class="col-sm-3">
															<h4>Awards & Certification</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
	
													 <div class="col-sm-3">
															<h4>Corporate Social Responsibility</h4>
															<h4>Pro Bono</h4>
															
													 </div>
												</div>
											</div>
										 
										 
									 
									</div><!-- /cbp-hrsub-inner -->
								</div>
						</li>
						<li>
							<a href="#">Careers</a>
							<div class="cbp-hrsub">
									<div class="cbp-hrsub-inner"> 
											  <div class="container">
												<div class="row">
													 <div class="col-sm-3">
															<h4>Who are we</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
													 <div class="col-sm-3">
														 
															<h4>Our Values</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
	
													 <div class="col-sm-3">
															<h4>CSR</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
													 <div class="col-sm-3">
															<h4>Green Policy</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
	
													 <div class="col-sm-3">
															<h4>Diversity Report</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
													 <div class="col-sm-3">
															<h4>Quality Journey</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
													 <div class="col-sm-3">
															<h4>Awards & Certification</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
	
													 <div class="col-sm-3">
															<h4>Corporate Social Responsibility</h4>
															<h4>Pro Bono</h4>
															
													 </div>
												</div>
											</div>
										 
										 
									 
									</div><!-- /cbp-hrsub-inner -->
								</div>
						</li>
						<li>
							<a href="#"> Contact Us</a>
							<div class="cbp-hrsub">
									<div class="cbp-hrsub-inner"> 
											  <div class="container">
												<div class="row">
													 <div class="col-sm-3">
															<h4>Who are we</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
													 <div class="col-sm-3">
														 
															<h4>Our Values</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
	
													 <div class="col-sm-3">
															<h4>CSR</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
													 <div class="col-sm-3">
															<h4>Green Policy</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
	
													 <div class="col-sm-3">
															<h4>Diversity Report</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
													 <div class="col-sm-3">
															<h4>Quality Journey</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
													 <div class="col-sm-3">
															<h4>Awards & Certification</h4>
															<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.</p>	
															
													 </div>
	
													 <div class="col-sm-3">
															<h4>Corporate Social Responsibility</h4>
															<h4>Pro Bono</h4>
															
													 </div>
												</div>
											</div>
										 
										 
									 
									</div><!-- /cbp-hrsub-inner -->
								</div>
						</li>
					 
					</ul>
				</nav>
				<ul class="nav-right">
					<li><a href="javascript:void(0);" title="Search" class="serchBtn"><img src="images/search-icon.png" alt="Search Icon"></a> </li>
					<li><a href="javascript:void(0);" title="Search" class="user"><img src="images/user-icon.png" alt="user Icon"></a> </li>
					<!-- <li><a href="javascript:void(0);" title="Search" class="menu"><span></span>  </a> -->
					</li>
	  		</ul>
		</div>
	 
    </div>
</div>
</section>
<div class="searchContainer" >
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-xs-12">
					<ul>
							<li class="searchInput">
									<input type="text" placeholder="Search by keyword" id="headpredictivesearch">
								</li>
						<li class="searchIcon"><a href="javascript:void(0);" id="headersearch"> <i class="fas fa-search"></i></a></li>
						
					</ul>
				</div>
			</div>
		</div>
	</div>